[submodule "gui-hexmap"]
	path = gui-hexmap
	url = ssh://git@gitlab.cern.ch:7999/acrobert/hgcal-module-testing-gui.git
	branch = master
[submodule "hexactrl-sw"]
	path = hexactrl-sw
	url = ssh://git@gitlab.cern.ch:7999/hgcal-daq-sw/hexactrl-sw.git
	branch = ROCv3-alper-dev
[submodule "hexactrl-sw_backup"]
	path = hexactrl-sw_backup
	url = https://gitlab.cern.ch/hgcal-daq-sw/hexactrl-sw.git
	branch = ROCv3
[submodule "hexmap"]
	path = hexmap
	url = ssh://git@gitlab.cern.ch:7999/hgcal-daq-sw/hexmap.git
	branch = master
[submodule "hgc-test-systems"]
	path = hgc-test-systems
	# temporarily the fork: the DAQ-RX equalisation work is not on
	# cms-hgcal-firmware yet. Move back once the EQ MR merges.
	url = ssh://git@gitlab.cern.ch:7999/tvami/hgc-test-systems.git
	branch = tvami/daq-rx-eq4
[submodule "debug/link_capture"]
	path = debug/link_capture
	url = https://gitlab.cern.ch/cms-hgcal-firmware/link_capture.git
	branch = master
